Repository swsnu/swpp2019-team3, pull requests merged in 2019-11, with the labels that each got.

#34 Pages for review (issue #15)
  .travis.yml
  frontend/sonar-project.properties
  frontend/src/App.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Reply/ReviewReply/ReviewReply.css
  frontend/src/components/Reply/ReviewReply/ReviewReply.js
  frontend/src/components/Reply/ReviewReply/ReviewReply.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/index.js
  frontend/src/containers/Main/Main.css
  frontend/src/containers/Main/Main.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/index.js
  frontend/src/store/actions/ActionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/index.js
Labels: frontend

#35 Implementing intro page and related modals
  .travis.yml
  backend/sonar-project.properties
  frontend/package.json
  frontend/sonar-project.properties
  frontend/src/App.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.css
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/index.js
  frontend/src/containers/Intro/Intro.css
  frontend/src/containers/Intro/Intro.js
  frontend/src/containers/Intro/Intro.test.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/index.js
  sonar-project.properties
Labels: frontend

#38 User api
  backend/PapersFeed_backend/settings.py
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/models/users/user.py
  backend/papersfeed/tests/__init__.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/base_utils.py
  backend/papersfeed/utils/users/utils.py
  backend/papersfeed/views.py
Labels: backend

#37 Create issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: documentation

#44 Update README.md
  README.md
Labels: documentation

#23 works on profile detail & edit pages
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.css
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/sample.jpg
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.css
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.js
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.test.js
  frontend/src/containers/index.js
Labels: frontend

#49 Paper api
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/fixtures/cs_10.json
  backend/papersfeed/fixtures/cs_500.json
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_paper.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/views.py
Labels: backend

#50 code refactoring
  frontend/src/App.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Reply/Reply.css
  frontend/src/components/Reply/Reply.js
  frontend/src/components/Reply/Reply.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/index.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/store/actions/actionTypes.js
Labels: frontend

#51 Implementing Authentication Reducer(Sign Up/Sign in)
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Modal/IntroModal/IntroModal.css
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/containers/Intro/Intro.js
  frontend/src/containers/Intro/Intro.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/auth.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/store.js
  frontend/src/test-utils/mocks.js
Labels: frontend, help wanted

#55 Getting Paper and Showing it on Paper Detail Page(PaperSpec)
  .travis.yml
  backend/papersfeed/fixtures/cs_10.json
  backend/papersfeed/fixtures/cs_500.json
  backend/papersfeed/utils/papers/parser.py
  frontend/src/App.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth.js
  frontend/src/store/actions/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper.js
  frontend/src/store/actions/paper.test.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/auth.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/paper.js
  frontend/src/store/reducers/paper.test.js
  frontend/src/test-utils/mocks.js
Labels: backend, frontend

#36 working on collection list and detail page (issue #29)
  frontend/src/App.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.css
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/index.js
  package-lock.json
Labels: frontend

#62 Return current user from backend(Issue #58, #63)
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/users/utils.py
  backend/papersfeed/views.py
Labels: backend

#65 [Code cleanup] Add papers to collections and some changes (from midpresentation-branch)
  backend/papersfeed/utils/collections/utils.py
  frontend/src/App.test.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.css
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Collection/CollectionEntry/CollectionEntry.css
  frontend/src/components/Collection/CollectionEntry/CollectionEntry.js
  frontend/src/components/Collection/CollectionEntry/CollectionEntry.test.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.css
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/Reply/Reply.css
  frontend/src/components/Reply/Reply.js
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/SideBar/SideBar.js
  frontend/src/components/heart.png
  frontend/src/components/index.js
  frontend/src/components/svg.js
  frontend/src/components/talk.png
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionList/CollectionList.css
  frontend/src/containers/Intro/Intro.css
  frontend/src/containers/Main/Main.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/index.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/paper/paper.js
  frontend/src/store/reducers/paper/paper.test.js
Labels: backend, frontend, refactoring

#67 modify update_user
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/users/utils.py
Labels: backend

#71 Signing out and Forced redirect
  .travis.yml
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/PrivateRoute/PrivateRoute.js
  frontend/src/components/PrivateRoute/PrivateRoute.test.js
  frontend/src/components/index.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
Labels: frontend

#70 Refactoring midpresentation (issue #61, #28)
  backend/papersfeed/tests/tests_paper.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/views.py
  frontend/src/App.test.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/store/actions/Collection/collection.js
  frontend/src/store/actions/Collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/Collection/CollectionReducer.js
  frontend/src/store/reducers/Collection/CollectionReducer.test.js
  frontend/src/store/reducers/index.js
  frontend/src/test-utils/mocks.js
Labels: frontend, refactoring

#57 Review api
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0004_review_paper.py
  backend/papersfeed/migrations/0005_delete_reviewpaper.py
  backend/papersfeed/models/__init__.py
  backend/papersfeed/models/reviews/review.py
  backend/papersfeed/models/reviews/review_paper.py
  backend/papersfeed/models/users/user.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/users/utils.py
  backend/papersfeed/views.py
Labels: backend

#72 pack problem(issue #59)
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/views.py
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/store/actions/Collection/collection.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/paper/paper.js
Labels: backend

#76 Enhancing AddPaperModal
  backend/papersfeed/constants.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/views.py
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/store/reducers/index.js
Labels: backend, frontend

#79 json.loads Error Handling
  backend/papersfeed/constants.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/views.py
Labels: backend, enhancement

#81 Extracting Keywords using Text Analytics API of Azure
  .gitignore
  backend/papersfeed/fixtures/cs_10.json
  backend/papersfeed/fixtures/cs_500.json
  backend/papersfeed/tests/tests_paper.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/utils/papers/abstract_analysis.py
  backend/papersfeed/utils/papers/parser.py
  backend/papersfeed/utils/papers/utils.py
  backend/sonar-project.properties
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  requirements.txt
Labels: enhancement, good first issue

#78 Search api
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_paper.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/users/utils.py
Labels: backend

#85 Review redux(#47)
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/PrivateRoute/PrivateRoute.test.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/store/actions/Review/review.js
  frontend/src/store/actions/Review/review.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/review/review.test.js
  frontend/src/test-utils/mocks.js
Labels: frontend

#91 Like
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_like.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/views.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/store/actions/Review/review.js
  frontend/src/store/actions/Review/review.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/store/reducers/paper/paper.js
  frontend/src/store/reducers/paper/paper.test.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/review/review.test.js
Labels: backend, frontend

#75 works on user redux
  backend/papersfeed/apis.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/PrivateRoute/PrivateRoute.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.js
  frontend/src/containers/Profile/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.js
  frontend/src/containers/Profile/ProfileEdit/ProfileEdit.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/User/AccountSetting/AccountSetting.css
  frontend/src/containers/User/AccountSetting/AccountSetting.js
  frontend/src/containers/User/AccountSetting/AccountSetting.test.js
  frontend/src/containers/User/FollowerList/FollowerList.js
  frontend/src/containers/User/FollowingList/FollowingList.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.css
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/User/ProfileDetail/sample.jpg
  frontend/src/containers/index.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/actions/review/review.js
  frontend/src/store/actions/review/review.test.js
  frontend/src/store/actions/user/user.js
  frontend/src/store/actions/user/user.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/user/user.js
  frontend/src/store/reducers/user/user.test.js
  frontend/src/test-utils/mocks.js
Labels: frontend

#84 csrf_setting
  backend/PapersFeed_backend/settings.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/urls.py
  backend/papersfeed/views.py
  frontend/src/index.js
Labels: enhancement

#100 Notification
  backend/PapersFeed_backend/settings.py
  backend/PapersFeed_backend/urls.py
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0006_user.py
  backend/papersfeed/models/collections/collection.py
  backend/papersfeed/models/reviews/review.py
  backend/papersfeed/models/users/user.py
  backend/papersfeed/tests/tests_notification.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/notifications/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/constants/constants.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
  requirements.txt
Labels: backend, frontend

#103 Search Result Page
  frontend/src/App.js
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/User/UserCard/UserCard.css
  frontend/src/components/User/UserCard/UserCard.js
  frontend/src/components/User/UserCard/UserCard.test.js
  frontend/src/components/index.js
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/SearchResult/SearchResult.css
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/index.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/actions/user/user.js
  frontend/src/store/actions/user/user.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/store/reducers/paper/paper.js
  frontend/src/store/reducers/paper/paper.test.js
  frontend/src/store/reducers/user/user.js
  frontend/src/store/reducers/user/user.test.js
Labels: frontend

#105 Fix Bugs about Search Result page
  frontend/src/components/User/UserCard/UserCard.js
  frontend/src/containers/SearchResult/SearchResult.js
Labels: frontend

#106 Reply
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_like.py
  backend/papersfeed/tests/tests_replies.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/reviews/utils.py
  frontend/src/App.test.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/PrivateRoute/PrivateRoute.test.js
  frontend/src/components/Reply/Reply.js
  frontend/src/components/Reply/Reply.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/components/User/UserCard/UserCard.test.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/User/AccountSetting/AccountSetting.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/actions/reply/reply.js
  frontend/src/store/actions/reply/reply.test.js
  frontend/src/store/actions/review/review.test.js
  frontend/src/store/actions/user/user.test.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/reply/reply.js
  frontend/src/store/reducers/reply/reply.test.js
  frontend/src/test-utils/mocks.js
Labels: backend, frontend

#107 Get papers from arXiv when searched papers don't exist in DB
  .travis.yml
  backend/papersfeed/tests/no_entry_xml.txt
  backend/papersfeed/tests/stub_key_phrases.json
  backend/papersfeed/tests/stub_xml.txt
  backend/papersfeed/tests/tests_paper.py
  backend/papersfeed/utils/papers/parser.py
  backend/papersfeed/utils/papers/utils.py
  backend/sonar-project.properties
  frontend/src/components/Header/Header.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/SearchResult/SearchResult.js
  requirements.txt
Labels: enhancement

#109 APIs getting objects users liked
  backend/papersfeed/apis.py
  backend/papersfeed/models/collections/collection_like.py
  backend/papersfeed/models/papers/paper_like.py
  backend/papersfeed/models/replies/reply_like.py
  backend/papersfeed/models/reviews/review_like.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/users/utils.py
Labels: backend

#102 Following/Followed User List
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/App.js
  frontend/src/containers/User/FollowerList/FollowerList.js
  frontend/src/containers/User/FollowingList/FollowingList.js
  frontend/src/containers/User/UserList/UserList.css
  frontend/src/containers/User/UserList/UserList.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/containers/index.js
  frontend/src/store/actions/user/user.js
Labels: backend, frontend

#111 /user/collection APIs
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/models/collections/collection_user.py
  backend/papersfeed/models/replies/reply_collection.py
  backend/papersfeed/models/replies/reply_review.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/store/actions/user/user.js
Labels: backend

#113 History(#86)
  frontend/src/App.js
  frontend/src/components/Reply/Reply.js
  frontend/src/containers/History/History.css
  frontend/src/containers/History/History.js
  frontend/src/containers/History/History.test.js
  frontend/src/containers/index.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/paper/paper.js
  frontend/src/store/actions/paper/paper.test.js
  frontend/src/store/actions/review/review.js
  frontend/src/store/actions/review/review.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/store/reducers/paper/paper.js
  frontend/src/store/reducers/paper/paper.test.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/review/review.test.js
Labels: frontend

#114 Pagination 적용
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_notification.py
  backend/papersfeed/tests/tests_replies.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/base_utils.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/notifications/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/users/utils.py
Labels: backend, enhancement

#94 Collection management
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/App.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.test.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.test.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.test.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.test.js
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/components/Modal/WarningModal/WarningModal.test.js
  frontend/src/components/User/UserEntry/UserEntry.js
  frontend/src/components/User/UserEntry/UserEntry.test.js
  frontend/src/components/index.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.css
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
Labels: frontend

#120 Improvement about Collection Features & Async Tests
  backend/PapersFeed_backend/settings.py
  backend/papersfeed/constants.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_replies.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.test.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.test.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.test.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.test.js
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/components/User/UserEntry/UserEntry.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/user/user.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/test-utils/mocks.js
Labels: backend, frontend

#122 Recommendation
  .travis.yml
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0007_useraction_userrecommendation.py
  backend/papersfeed/migrations/0008_auto_20191126_1220.py
  backend/papersfeed/models/users/user_action.py
  backend/papersfeed/models/users/user_recommendation.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/views.py
Labels: backend, enhancement

#123 Improvement about Searching Papers
  .github/pull_request_template.md
  backend/papersfeed/constants.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/utils/papers/utils.py
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/SearchResult/SearchResult.css
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/store/actions/paper/paper.js
  frontend/src/store/reducers/paper/paper.js
  frontend/src/store/reducers/paper/paper.test.js
Labels: backend, frontend

#126 Member List of Collections & Showing Owner of Collections
  backend/papersfeed/utils/users/utils.py
  frontend/src/App.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/UserList/UserList.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/test-utils/mocks.js
Labels: enhancement

#127 Recommendation Util of backend Change
  backend/papersfeed/models/users/user_action.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/recommendations/utils.py
Labels: backend

#129 Fix review card on history page
  frontend/src/containers/History/History.js
Labels: frontend

#130 Some Small Frontend Improvement
  .travis.yml
  frontend/public/index.html
  frontend/src/components/Header/Header.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.test.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/PrivateRoute/PrivateRoute.js
  frontend/src/components/Reply/Reply.css
  frontend/src/components/Reply/Reply.js
  frontend/src/components/User/UserCard/UserCard.css
  frontend/src/components/User/UserCard/UserCard.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/History/History.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.css
  package-lock.json
Labels: frontend

#131 Fix Bugs about Calling Search APIs twice and 'Paper' button on ReviewDetail page
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/containers/History/History.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/UserList/UserList.js
Labels: frontend

#132 Subscription API
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0009_subscription.py
  backend/papersfeed/models/__init__.py
  backend/papersfeed/models/subscription/subscription.py
  backend/papersfeed/tests/tests_subscription.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
Labels: backend
