Repository swsnu/swpp2019-team3, pull requests merged in 2019-12, with the labels that each got.

#137 Pagination Edge case
  backend/papersfeed/tests/tests.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/notifications/utils.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  backend/papersfeed/utils/users/utils.py
Labels: backend

#138 Recommendation Util
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/views.py
  frontend/src/components/Reply/Reply.js
  frontend/src/components/Reply/Reply.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
Labels: backend, frontend

#139 Subscription Feed (Frontend)
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.css
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/constants/constants.js
  frontend/src/containers/Main/Main.css
  frontend/src/containers/Main/Main.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.css
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
Labels: frontend

#146 Get users for invite user to collection
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/users/utils.py
Labels: backend

#144 Subscription wrapup
  backend/papersfeed/migrations/0010_subscription_ordering.py
  backend/papersfeed/models/subscription/subscription.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/containers/Main/Main.css
  frontend/src/containers/Subscription/SubscriptionFeed.css
Labels: backend, enhancement, frontend

#149 Adapting SearchResult & UserList & Collection modals to Pagination
  backend/papersfeed/constants.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.test.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.test.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.test.js
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/components/User/UserCard/UserCard.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/User/UserList/UserList.css
  frontend/src/containers/User/UserList/UserList.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/user/user.js
  frontend/src/store/actions/user/user.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/store/reducers/paper/paper.test.js
  frontend/src/store/reducers/user/user.js
  frontend/src/store/reducers/user/user.test.js
Labels: backend, frontend

#150 Private collection
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0011_collection_type.py
  backend/papersfeed/models/collections/collection.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/users/utils.py
Labels: backend, refactoring

#153 Get Shared Collection
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/utils/collections/utils.py
Labels: backend

#155 Anonymous Review
  backend/papersfeed/constants.py
  backend/papersfeed/migrations/0012_review_anonymous.py
  backend/papersfeed/models/reviews/review.py
  backend/papersfeed/tests/tests_review.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/reviews/utils.py
Labels: backend

#156 Fixing bug on AddPaperModal & Adapting AddPaperModal and CollectionList to Pagination
  backend/papersfeed/utils/collections/utils.py
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
Labels: backend, frontend

#160 Collection Histroy 무한 스크롤 버그
  backend/papersfeed/utils/collections/utils.py
Labels: backend, bug

#157 Recommendation on Main Feed & Initial Recommendation
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/utils/reviews/utils.py
  frontend/src/App.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/constants/constants.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Init/Init.css
  frontend/src/containers/Init/Init.js
  frontend/src/containers/Init/Init.test.js
  frontend/src/containers/Main/Main.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/index.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/reply/reply.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
  frontend/src/store/reducers/reply/reply.js
  frontend/src/store/reducers/reply/reply.test.js
Labels: backend, enhancement, frontend

#176 Fixing Update Problem after Creating Collection & Problems of Recommendation
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/store/reducers/auth/auth.js
Labels: backend, frontend

#177 Preventing Double Likes & Pagination of PaperDetail
  backend/papersfeed/utils/likes/utils.py
  backend/papersfeed/utils/notifications/utils.py
  backend/papersfeed/utils/replies/utils.py
  frontend/package.json
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/review/review.js
  frontend/src/store/actions/review/review.test.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/review/review.test.js
  frontend/yarn.lock
Labels: backend, frontend

#184 Make the contents be centered and Improving Collection Detail's CSS
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.css
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.css
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/SideBar/SideBar.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.css
  frontend/src/containers/Collection/CollectionManage/CollectionManage.css
  frontend/src/containers/History/History.css
  frontend/src/containers/Intro/Intro.css
  frontend/src/containers/Intro/Intro.js
  frontend/src/containers/Intro/Intro.test.js
  frontend/src/containers/Main/Main.css
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/SearchResult/SearchResult.css
  frontend/src/containers/Subscription/SubscriptionFeed.css
  frontend/src/containers/User/ProfileDetail/ProfileDetail.css
  frontend/src/containers/User/UserList/UserList.css
Labels: frontend, visual design

#181 Using Celery for Asynchronous and Distributed jobs when Searching Papers
  .gitignore
  .travis.yml
  backend/PapersFeed_backend/__init__.py
  backend/PapersFeed_backend/celery.py
  backend/PapersFeed_backend/settings.py
  backend/papersfeed/tests/papers/stub_semanticscholar.json
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/utils/papers/search.py
  backend/papersfeed/utils/papers/utils.py
  backend/papersfeed/utils/recommendations/utils.py
  frontend/public/index.html
  frontend/src/containers/SearchResult/SearchResult.js
  requirements.txt
Labels: backend, enhancement, good reference

#182 Minor Changes: Recommendation&Init Page&Reply
  backend/papersfeed/utils/base_utils.py
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/PrivateRoute/PrivateRoute.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Init/Init.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
Labels: backend, frontend, refactoring

#180 Edit collection object response
  backend/papersfeed/constants.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/utils/collections/utils.py
Labels: backend

#186 Anonymous review
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/Reply/Reply.css
  frontend/src/components/bell.png
  frontend/src/components/svg.js
  frontend/src/containers/Init/Init.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.test.js
  frontend/src/store/actions/review/review.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/review/review.test.js
Labels: enhancement, frontend, visual design

#187 Anonymous review
  backend/papersfeed/tests/tests_subscription.py
  backend/papersfeed/utils/subscriptions/utils.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Reply/Reply.css
  frontend/src/components/Reply/Reply.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/containers/History/History.css
  frontend/src/containers/History/History.js
  frontend/src/containers/PaperDetail/PaperDetail.css
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.css
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
Labels: frontend, hotfix

#189 CollectionDetail pagination & Fix AddPaperModal bug on PaperDetail page
  backend/papersfeed/utils/papers/utils.py
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/test-utils/mocks.js
  frontend/yarn.lock
Labels: frontend

#191 Private collection
  backend/papersfeed/apis.py
  backend/papersfeed/constants.py
  backend/papersfeed/models/subscription/subscription.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/subscriptions/utils.py
  backend/papersfeed/views.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.css
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.test.js
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.css
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionList/CollectionList.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/containers/History/History.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
  frontend/src/test-utils/mocks.js
Labels: enhancement, frontend

#190 Slight changes on frontend design
  frontend/src/App.css
  frontend/src/components/Button/LikeButton/LikeButton.css
  frontend/src/components/Button/LikeButton/LikeButton.js
  frontend/src/components/Button/LikeButton/LikeButton.test.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.css
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/index.js
  frontend/src/components/svg.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.css
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
Labels: frontend, visual design

#194 Invitation Accept/Dismiss
  backend/papersfeed/apis.py
  backend/papersfeed/migrations/0013_collectionuser_pending.py
  backend/papersfeed/models/collections/collection_user.py
  backend/papersfeed/tests/tests_collection.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/collection/collection.js
Labels: backend, enhancement, frontend

#195 Fix collectiondetail
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/store/actions/reply/reply.js
Labels: frontend, hotfix

#196 Modaldesign
  frontend/src/components/Collection/CollectionEntry/CollectionEntry.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.test.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.css
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.css
  frontend/src/components/Modal/GoMyCollectionsModal/GoMyCollectionsModal.js
  frontend/src/components/Modal/InviteToCollectionModal/InviteToCollectionModal.test.js
  frontend/src/components/Modal/ManageCollectionMemberModal/ManageCollectionMemberModal.test.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.test.js
Labels: frontend, visual design

#198 Tutorial Page
  frontend/src/App.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/IntroModal/IntroModal.js
  frontend/src/components/PrivateRoute/PrivateRoute.js
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/SideBar/SideBar.js
  frontend/src/components/SideBar/SideBar.test.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/History/History.test.js
  frontend/src/containers/Init/Init.css
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/Tutorial/Slide1.PNG
  frontend/src/containers/Tutorial/Slide1.png
  frontend/src/containers/Tutorial/Slide2.PNG
  frontend/src/containers/Tutorial/Slide2.png
  frontend/src/containers/Tutorial/Slide3.PNG
  frontend/src/containers/Tutorial/Slide4.PNG
  frontend/src/containers/Tutorial/Slide5.PNG
  frontend/src/containers/Tutorial/Slide6.png
  frontend/src/containers/Tutorial/Tutorial.css
  frontend/src/containers/Tutorial/Tutorial.js
  frontend/src/containers/Tutorial/Tutorial.test.js
  frontend/src/containers/User/AccountSetting/AccountSetting.js
  frontend/src/containers/index.js
Labels: enhancement, frontend

#202 Delete Unnecessary Slide png files
  frontend/src/containers/Tutorial/Slide1.png
  frontend/src/containers/Tutorial/Slide2.PNG
Labels: hotfix

#201 Scroll Pagination of Main / SearchResult & Minor Design Works
  backend/papersfeed/utils/users/utils.py
  frontend/package.json
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/History/History.css
  frontend/src/containers/History/History.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/SearchResult/SearchResult.css
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/SearchResult/SearchResult.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/store/reducers/auth/auth.js
Labels: frontend, visual design

#203 Notification Scroll Pagination & True Counts of objects on some pages
  backend/papersfeed/apis.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/notifications/utils.py
  backend/papersfeed/utils/replies/utils.py
  backend/papersfeed/utils/reviews/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/store/actions/auth/auth.js
  frontend/src/store/actions/auth/auth.test.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/review/review.js
  frontend/src/store/actions/user/user.js
  frontend/src/store/reducers/auth/auth.js
  frontend/src/store/reducers/auth/auth.test.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/review/review.js
  frontend/src/store/reducers/user/user.js
  requirements.txt
Labels: backend, enhancement, frontend

#206 fix checkbox
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Photo/PhotoCheckBox/PhotoCheckBox.css
  frontend/src/components/Photo/PhotoCheckBox/PhotoCheckBox.js
  frontend/src/components/User/UserEntry/UserEntry.js
Labels: bug, frontend, hotfix

#207 Leave collections & Some bug fix & Design Improvement
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/users/utils.py
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Modal/CreateNewCollectionModal/CreateNewCollectionModal.js
  frontend/src/components/Modal/TrasferOwnershipModal/TransferOwnershipModal.js
  frontend/src/components/Modal/WarningModal/WarningModal.css
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/components/svg.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.css
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/History/History.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/SearchResult/SearchResult.js
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/ProfileDetail/sample.jpg
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
Labels: backend, enhancement, frontend, visual design

#209 CSRF setting
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests_user.py
  backend/papersfeed/urls.py
  backend/papersfeed/utils/base_utils.py
  backend/papersfeed/views.py
  frontend/src/store/actions/review/review.js
Labels: backend, enhancement

#208 Delete Paper from Collection
  backend/papersfeed/apis.py
  backend/papersfeed/tests/papers/tests_paper.py
  backend/papersfeed/utils/collections/utils.py
  backend/papersfeed/utils/papers/utils.py
  frontend/src/App.js
  frontend/src/components/Button/SubItemButton/SubItemButton.js
  frontend/src/components/Button/SubItemButton/SubItemButton.test.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Main/Main.js
  frontend/src/containers/PaperDetail/PaperDetail.js
  frontend/src/containers/PaperDetail/PaperDetail.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewControl/ReviewControl.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/collection/collection.js
  frontend/src/store/actions/collection/collection.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/reducers/collection/collection.js
  frontend/src/store/reducers/collection/collection.test.js
Labels: backend, enhancement, frontend

#211 Redis Cache for Searching Papers
  backend/PapersFeed_backend/settings.py
  backend/papersfeed/apis.py
  backend/papersfeed/utils/base_utils.py
  backend/papersfeed/views.py
  requirements.txt
Labels: backend, enhancement

#212 Final Design Improvement
  frontend/src/App.js
  frontend/src/components/Button/LikeButton/LikeButton.css
  frontend/src/components/Button/LikeButton/LikeButton.js
  frontend/src/components/Button/SubItemButton/SubItemButton.css
  frontend/src/components/Button/SubItemButton/SubItemButton.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.css
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/components/Collection/CollectionCard/CollectionCard.test.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.css
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Modal/WarningModal/WarningModal.js
  frontend/src/components/Paper/PaperCard/PaperCard.css
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Paper/PaperCard/PaperCard.test.js
  frontend/src/components/Paper/PaperSpec/PaperSpec.css
  frontend/src/components/Review/ReviewCard/ReviewCard.css
  frontend/src/components/Review/ReviewCard/ReviewCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.test.js
  frontend/src/components/SideBar/SideBar.css
  frontend/src/components/svg.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.css
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
  frontend/src/containers/Collection/CollectionList/CollectionList.css
  frontend/src/containers/Collection/CollectionList/CollectionList.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.css
  frontend/src/containers/Collection/CollectionManage/CollectionManage.js
  frontend/src/containers/Collection/CollectionManage/CollectionManage.test.js
  frontend/src/containers/History/History.css
  frontend/src/containers/History/History.js
  frontend/src/containers/History/History.test.js
  frontend/src/containers/Review/ReviewControl/ReviewControl.css
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.js
  frontend/src/containers/Review/ReviewDetail/ReviewDetail.test.js
  frontend/src/containers/Subscription/SubscriptionFeed.css
  frontend/src/containers/Subscription/SubscriptionFeed.js
  frontend/src/containers/Subscription/SubscriptionFeed.test.js
  frontend/src/containers/User/AccountSetting/AccountSetting.css
  frontend/src/containers/User/AccountSetting/AccountSetting.js
  frontend/src/containers/User/AccountSetting/AccountSetting.test.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.css
  frontend/src/containers/User/ProfileDetail/ProfileDetail.js
  frontend/src/containers/User/ProfileDetail/ProfileDetail.test.js
  frontend/src/containers/User/UserList/UserList.css
  frontend/src/containers/User/UserList/UserList.js
  frontend/src/containers/User/UserList/UserList.test.js
  frontend/src/index.css
Labels: frontend, visual design

#214 Using Low-level Cache for Searching papers
  backend/papersfeed/apis.py
  backend/papersfeed/utils/papers/utils.py
Labels: backend, hotfix

#216 Card component design hotfix
  frontend/src/components/Button/LikeButton/LikeButton.js
  frontend/src/components/Button/SubItemButton/SubItemButton.js
  frontend/src/components/Modal/AddPaperModal/AddPaperModal.js
  frontend/src/components/Paper/PaperCard/PaperCard.js
  frontend/src/components/Review/ReviewCard/ReviewCard.js
Labels: frontend, hotfix, visual design

#218 Collection Card Reply Button Fix & Alert on Collection Detail Page
  frontend/src/components/Collection/CollectionCard/CollectionCard.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.js
  frontend/src/containers/Collection/CollectionDetail/CollectionDetail.test.js
Labels: frontend, hotfix

#221 Api doc
  backend/PapersFeed_backend/settings.py
  backend/sonar-project.properties
  backend/static/apidoc.yml
  backend/static/apidoc/apidoc.html
  backend/static/apidoc/css/combined.css
  backend/static/apidoc/font/apidoc.eot
  backend/static/apidoc/font/apidoc.ttf
  backend/static/apidoc/font/apidoc.woff
  backend/static/apidoc/font/source-code-pro.eot
  backend/static/apidoc/font/source-code-pro.ttf
  backend/static/apidoc/font/source-code-pro.woff
  backend/static/apidoc/js/combined.js
Labels: backend, documentation

#220 Update README.md
  README.md
Labels: documentation

#223 Add csrfexempt and modify post_user_recommendation
  backend/papersfeed/apis.py
  backend/papersfeed/tests/tests.py
  backend/papersfeed/tests/tests_recommendation.py
  backend/papersfeed/urls.py
  backend/papersfeed/utils/recommendations/utils.py
  backend/papersfeed/views.py
  frontend/src/App.js
Labels: backend, hotfix
